@use './globals.scss' as g;

.homePage {
  .movieList {
    max-width: 800px;
    margin: 0 0.75rem;
    background-color: g.$primary;
    color: g.$light;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;

    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 1.75rem;
      font-weight: bold;
    }

    table {
      width: 100%;
      border-spacing: 0;

      th,
      td {
        text-align: left;
        padding: 0.25rem;
      }

      .rentBtn {
        color: g.$dark;
        padding: 0.5rem 1rem;
      }
    }

    @media (min-width: g.$breakpoint-1) {
      width: 90%;
      margin: 0 auto;
      padding: 1.5rem;
    }
  }
}
