* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  // position: relative;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.pageTitle {
  text-align: center;
  margin: 1rem;
}

a {
  text-decoration: inherit;
  color: inherit;
}
