@use 'globals' as g;

.yourMovies {
  max-width: 800px;
  margin: 0 0.75rem;
  background-color: g.$primary;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  color: g.$light;

  h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  table {
    width: 100%;
    border-spacing: 0;

    th,
    td {
      text-align: left;
      padding: 0.25rem;
    }

    .timeCol {
      padding-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 6rem;
      max-width: 8rem;
      position: relative;
      height: 100%;

      button {
        display: flex;
        align-items: center;
        svg {
          fill: g.$secondary;
          height: 28px;
          width: 28px;
          transition: fill 250ms;
        }
        transition: scale 250ms;
        &:hover {
          scale: 1.25;
        }
      }

      .disabledChevron {
        cursor: default;
        &:hover {
          scale: 1;
        }
        svg {
          fill: g.$gray-disabled;
        }
      }
    }

    .priceCol {
      min-width: 4rem;
    }

    .removeBtn {
      float: right;
      background-color: g.$accent;
      padding: 0.5rem 1rem;

      transition: background-color 250ms;
      &:hover {
        background-color: darken($color: g.$accent, $amount: 16);
      }
    }
  }

  @media (min-width: g.$breakpoint-1) {
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
  }
}
